


h1 {
    margin-left: 40px;
    margin-top: 40px;
    color: rgb(65, 58, 43);
}

.fade {
    animation: fade ease 3s;
    animation-iteration-count: 1;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    margin-top: 50px;
}


img {
    border-style: ridge;
    border-color: beige;
}
