


h1 {
    margin-left: 40px;
    margin-top: 40px;
    color: rgb(65, 58, 43);
}

.fade {
    animation: fade ease 3s;
    animation-iteration-count: 1;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.projects {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}


img {
    border-style: ridge;
    border-color: beige;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    filter: grayscale(60%);
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(151, 127, 87, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
  }

  .container {
    position: relative;

  }
  
  .container:hover .overlay {
    opacity: 1;
  }


  
@media (max-width: 700px)
{
    .projects {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 60px;
    }

    img {
        width: 200px;
        height: 300px;
    }

    h1 {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-left: 0px;
        font-size: 25px;
    }

}

